Pyrogram==2.0.106
TgCrypto==1.2.5
PyYAML==6.0.2
python-dotenv==1.0.1
aiosqlite==0.20.0
keyboard==0.13.5
psutil==7.0.0
pymongo==4.11.1
Pillow==10.4.0
imageio-ffmpeg==0.5.1
requests==2.32.3
tqdm==4.66.5
gdown==5.2.0
playwright==1.49.1
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
tenacity
